html, body {
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ececec;
  line-height: 24px;
  letter-spacing: 1px;
  overflow: hidden;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

b, strong {
  font-weight: 700;
  font-style: italic;
}

tc {
  text-align: center;
}

header {
  position: absolute;
  z-index: 9999;
  padding-top: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

nav {
  position: fixed;
  bottom: 0;
  background: #222;
  width: 100%;
  z-index: 9999;
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 18px;
}

img.logo {
  margin: 0 auto;
  display: block;
  max-height: 125px;
  max-width: 80%;
  width: auto;
  height: auto;
}

.bullet {
  margin: 0 15px;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 20px 0;
}

p.row {
  margin-bottom: 4%;
}

p small {
  font-size: 0.6em;
}

a {
  color: #bbb;
  word-wrap: break-word;
}

a:hover {
  color: #ececec;
}

ul.slides li {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#home {
  text-align: center;
  background: #000 url('Home.jpg') no-repeat center center fixed;
}

#home .item-wrapper {
  height: 85%;
}

.item-wrapper {
  display: table;
  table-layout: fixed;
  width: 80%;
  max-width: 700px;
  margin: 0 auto 100px;
  padding-top: 170px;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 1px 12px #000000;
  box-sizing: border-box;
  padding: 30px 30px 10px 30px;
  background: rgba(45,45,45,0.65);
}

.content .img {
  margin: 40px auto;
  text-align: center;
}

.content > .img img {
  border: none;
  max-height: 100px;
  width: auto;
  margin: 0 10px;
  display: inline-block;
}

.std {
  text-transform: uppercase;
  font-size: 24px;
  background: transparent;
  letter-spacing: 2px;
}

hr {
  margin-bottom: 40px;
}

#accommodations {
  background: #000 url('Accomodations.jpg') no-repeat bottom right fixed;
}

#registry {
  background: #000 url('Registry.jpg') no-repeat bottom center fixed;
}

#rsvp {
  background: #000 url('RSVP.jpg') no-repeat bottom left fixed;
}

#location {
  background: #000 url('Location.jpg') no-repeat bottom center fixed;
}

#our-story {
  background: #000 url('Our-Story.jpg') no-repeat bottom left fixed;
}


@media screen and (max-width: 860px) {
  .std {
    font-size: 18px;
  }
}
@media screen and (max-width: 540px) {
  .bullet {
    display: block;
  }
  .std .row {
    margin-bottom: 30px;
  }
}

/* Styling carousel*/

.flexslider {
  border: 0;
  padding: 0;
  margin: 0;
}

.flexslider, .slides, .slides li {
  width: 100%;
  height: 100%;
}

.flexslider .slides li {
  overflow-y: auto;
}

.flex-control-nav {
  position: relative;
  bottom: initial;
}

.flex-control-nav li {
  opacity: 0.7;
  font-size: 0.8em;
  margin: 0 15px;
}

.flex-control-nav li:hover {
  cursor: pointer;
}

.flex-control-nav li.flex-active {
  opacity: 1;
}